.alert-wrapper{
  position: fixed;
  top:100px;
  right: 50px;
  z-index: 9;
  .alert-box{
    opacity: 0;
    background-color: rgba(0,0,0,1);
    color: white;
    padding: 14px;
    border-radius: 4px;
  }
}
