.user-option-wrapper{
  padding-top: 29px;

  .graph-option{
    background: #212025;
    padding: 15px 0px;
    margin-bottom: 10px;
    cursor: pointer;
    margin-left: 10px;
  }

  .graph-option-disc{
    height: 10px;
    width: 10px;
    display: inline-block;
    background: #3FAEFF;
    //border: 1px solid #3FAEFF;
    border-radius: 100%;
    margin-right: 6px;
    margin-left: 10px;
    vertical-align: middle;
  }
}


.criteria-button{
  button{
    margin-left: 25px;
    margin-top: 25px;
    font-weight: $font-weight-medium;
    border: 1px solid white;
    padding: 10px 15px;
  }
}
