.home-wrapper{
  padding-top: 20px;
  h3{
    margin-left: 35px;
  }
}


.tabs-wrapper{
  ul{
    background: transparent;
    border: none;
  }
  li{
    width: 25%;
    text-align: center;
  }
  a:hover{
    background: transparent;
    color: white;
    border-bottom: 1px solid white;
  }
  a {
    color : White;
  }
  .is-active a{
    border-bottom: 2px solid white;
  }
}


.player-table{
  margin-top: 25px;
  tr,th{
    color: white;
  }

  thead {
    background: black;
    border: none;
  }

  tbody{
    border: none;
  }

  tbody tr:nth-child(even) {
    border-bottom: 0;
    background-color: #2A2A32;
  }

  tbody tr:nth-child(odd) {
    border-bottom: 0;
    background-color: #212025;
  }
}
