.nav-wrapper{
  height:80px;
  background: #111111;
  h2{
    font-family: $font-family-footer;
    font-weight: $font-weight-semi-bold;
    color: white;
    margin-left: 25px;
    margin-bottom: 0px;
  }
}
